.contacts {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;

  @include vp-1199 {
    grid-template-columns: 1fr;
  }

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #74819c;
    left: 50%;

    @include vp-1199 {
      display: none;
    }
  }
}

.contacts__wrapper {
  background-color: $sapphire;
}

.contacts__inner {
  max-width: 580px;
  padding-top: 61px;
  padding-right: 170px;
  padding-bottom: 47px;
  margin-left: auto;

  @include vp-1199 {
    max-width: none;
    width: 100%;
    padding-left: 133px;
    padding-top: 69px;
    padding-bottom: 48px;
    padding-right: 160px;
    margin: 0;
  }

  @include vp-767 {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.contacts__inner h3 {
  font-size: 49px;
  line-height: 64px;
  font-family: $ff-bebas-neue;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 32px;

  @include vp-1199 {
    font-size: 42px;
    line-height: 42px;
    margin-bottom: 33px;
  }

  @include vp-767 {
    font-size: 32px;
    line-height: 32px;
    margin-bottom: 35px;
  }
}

.contacts__inner form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  margin-bottom: 20px;

  @include vp-1199 {
    column-gap: 57px;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
  }
}

.contacts__inner input {
  font-size: 14px;
  line-height: 16px;
  color: $color-default-white;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #74819c;
  padding: 6px 0;

  &:hover {
    border-color: $color-torch-red;
  }

  &::placeholder {
    color: $color-default-white;
  }
}

.contacts__inner button {
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.05em;
  padding: 18px;
  padding-bottom: 16px;
  grid-column: 1/3;
  border: 3px solid $color-default-white;
  color: $color-default-white;
  background: none;
  margin-top: -2px;
  cursor: pointer;

  &:hover {
    border-color: $color-torch-red;
  }

  @include vp-1199 {
    margin-top: -3px;
  }

  @include vp-767 {
    grid-column: 1/2;
    margin-top: 8px;
  }
}

.contacts__address {
  background-color: $color-default-white;
  max-width: 534px;
  margin-right: auto;
  padding-left: 120px;
  padding-top: 69px;
  color: $sapphire;
  padding-bottom: 47px;

  @include vp-1199 {
    max-width: none;
    width: 100%;
    padding-left: 133px;
    padding-right: 160px;
    margin: 0;
  }

  @include vp-767 {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.contacts__address h3 {
  font-family: $ff-bebas-neue;
  font-size: 49px;
  line-height: 49px;
  letter-spacing: 0.03em;
  margin: 0;
  margin-bottom: 41px;

  @include vp-1199 {
    font-size: 42px;
    line-height: 42px;
    margin-bottom: 33px;
  }

  @include vp-767 {
    font-size: 32px;
    line-height: 32px;
    margin-bottom: 35px;
  }
}

.contacts__list {
  position: relative;
  display: grid;
  grid-template-columns: 43% 1fr;
  column-gap: 119px;
  row-gap: 18px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-left: 4px;

  @include vp-1199 {
    grid-template-columns: 46% 1fr;
    column-gap: 95px;
    row-gap: 19px;
    padding-left: 0;
    margin-bottom: 15px;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
  }

  &::before {
    content: "";
    position: absolute;
    height: 89.1%;
    width: 1px;
    background-color: #74819c;
    left: 58.3%;
    top: 6px;

    @include vp-1199 {
      left: 56.1%;
      top: 8px;
    }

    @include vp-767 {
      display: none;
    }
  }
}

.contacts__item {
  display: flex;
  flex-direction: column;

  &--order1 {
    @include vp-767 {
      order: 1;
    }
  }

  &--order2 {
    @include vp-767 {
      order: 2;
    }
  }

  &--order3 {
    @include vp-767 {
      order: 3;
    }
  }

  &--order4 {
    @include vp-767 {
      order: 4;
    }
  }
}

.contacts__item h4 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 3px;

  @include vp-1199 {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 6px;
  }
}

.contacts__item address {
  font-size: 14px;
  line-height: 21px;
  font-style: normal;
  font-weight: 400;

  @include vp-1199 {
    font-size: 18px;
    line-height: 27px;
  }
}

.contacts__item p {
  font-size: 14px;
  line-height: 21px;
  margin: 0;

  @include vp-1199 {
    font-size: 18px;
    line-height: 27px;
  }
}

.contacts__item a {
  display: block;
  font-size: 14px;
  line-height: 21px;
  color: $sapphire;

  &:hover {
    color: $color-torch-red;
  }

  @include vp-1199 {
    font-size: 18px;
    line-height: 27px;
  }
}
